.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  background-color: transparent;
  border-color: transparent;
}
.icon {
  height: 40px;
  width: 50px;
}
.image {
  height: 75px;
  width: 75px;
  border-radius: 20px;
}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}
.head {
  font-size: 20px;
}
